<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<body>
    <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

    <div class="container">
		<div class="header clearfix">  
		        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"  class="active"><a href="/register">Register</a></li>
				<li role="presentation"><a href="/login">Login</a></li>
		</ul>
        </nav>  
			<h3 class="text-muted"><%= title %></h3>
		</div>       
	    <form class="form-signin" action="/register" method="post">
			<div class="form-group">
	            <label for="name" class="sr-only">Name</label>
		        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
			</div>

			<div class="form-group">
				<label for="college" class="sr-only">College</label>
		        <input type="text" id="college" name="college" class="form-control" placeholder="College" autofocus>
			</div>

			<div class="form-group">
				<label for="branch" class="sr-only">Branch</label>
				<input type="text" id="branch" name="branch" class="form-control" placeholder="Branch" autofocus>
			</div>

			<div class="form-group">
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
			</div>

			<div class="form-group">
				<label for="email" class="sr-only">E-mail</label>
				<input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
			</div>

			<div class="form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
			</div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </form>
	  <footer class="footer">
        <p>&copy; 2016 Abhinav Dhiman</p>
      </footer>	
    </div>
</body>
</html>